body{
    margin:0;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
#input-el{
    padding: auto 10px;
    width:100%;
    box-sizing:border-box;
    padding:10px;
}
#input-btn,#delete,#savebtn{
    background-color: #5f9341;
    padding:10px 20px;
    color: whitesmoke;
    margin:5px 0;
    font-weight: bold;
    border: 2px solid #5f9341;

}
#delete{
    border:1px solid rgb(73, 179, 82);
    background: #dcdcdc;
    color:#5f9341;
}
#input-btn:hover{
    border:3px solid #95a5db;
}
#delete:hover{
    border: 3px solid  #832727;
}
#savebtn:hover{
    border: 3px solid #4d2b54;
}
ul{
 list-style: none;
 margin: 5px auto;
 padding-left:0;
}

li{
 list-style: none;
 margin:  10px auto;
}

li a{
    text-decoration: none;

    color:#5f9341;
}